@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
    background-color: #2E303D;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 150px;
    margin-left: 50%;
    transform: translate(-50%); 
    width: 1000px;
}

.maps {
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agents {
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 25px;
    color: #ECECEC;
    font-family: 'Zen Dots', cursive;
}

img {
    width: 450px;
    height: 400px;
    transform: scale(0.8);
    border-radius: 5px 5px 5px 35px;  
    border-style: double;
    border-color: #ECECEC;
    padding: 1px;
}

img:hover {
    transform: scale(0.9);
    cursor: pointer;
    transition: all ease 0.7s;
    border: 1px solid #ECECEC;
}